.todo-form {
  max-width: 640px;
  min-width: 300px;
  margin: 0 auto;
  background: #313654;
  border-radius: 8px;
  padding: 30px;
}

.todo-form input {
  font-size: 1.5rem;
  width: 100%;
  display: block;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin: 10px 0;
  font-family: Oswald, sans-serif;
}

.todo-form button {
  border: none;
  width: 100%;
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  background: #3178c6;
  color: white;
  outline: none;
}

.todo-form button:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.todo-list-wrapper {
  margin: 2rem auto;
}

.todos-loader {
  display: flex;
  justify-content: center;
}
